header{
	min-height: 520px;
	background: url(../images/flickr_11.jpg) center center;
	color:white;
	margin-bottom: 80px;
}
.title{text-transform: uppercase;}
.sun{
	text-align: center;
}
.navbar-default{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}
.about, .whoiam{
	margin-bottom: 60px;
}
.portfolio .row .col-md-4{
	padding:0;
}
@media(max-width: 990px){
	.portfolio .row .col-md-4{
		padding:2px 0;
	}
}