header{
	min-height: 520px;
	padding:80px 0 0 80px;
	background: url(../images/flickr_12.jpg) center center;
	color:white;
}
.sun{
	text-align: center;
}
.navbar-default{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}