header{
	background: #383838;
	color:white;
}
hgroup{
	width:80%;
	margin:0 auto;
	text-align: center;
	padding: 1em;
}
img{
	width:100%;
}
section{
	padding:1em;
}


@media screen and (min-width: 320px){	
	.profile-image{
		border-radius: 400px;
	}
	hgroup h1{
		font-size: 2em;
	}
	hgroup h2{
		font-size: 1em;
	}
	h1.title{
		font-size: 2em;
	}
}