@import "compass";
@import "compass/reset";
@import "queries";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

//Globals
$float-left:left;

$max-width:1024px;
$container:$max-width;

$margin:10px;
$margin-left:$margin;
$margin-right:$margin;

$grid:12;

$per-margin:0.9765;

$link-color:#888;

//Grids
@mixin grid($unidade){
	width: ( ( ( ( $container / $grid ) * $unidade ) - 10 ) * 100% / $container);
}

@mixin grid-relative($unidade){
	width: ( ( ( ( 100% / $grid ) * $unidade ) - $per-margin ));
}

//Placeholders
%float-left{
	float:$float-left;
}

%clearfix{
	@include clearfix;
}

//Stylesheets
body{
	font-family: 'Open Sans', sans-serif;
}
header{

	max-width:$max-width;
	margin:0 auto;

	margin-bottom:20px;
	padding:10px 0;
	@extend %clearfix;
	
	.menu{
		margin-top:65px;
	}
	.search{
		margin-top:42px;
		float:right;
		input{
			padding:10px;
			width:300px;
		}
		button{
			background: white;
			border: solid 1px #ccc;
			border-radius: 3px;
			padding: 11px;
			color: #888;
		}
	}
}

a{
	text-decoration:none;
	color:$link-color;
}

hr{
	max-width:1024px;
	margin-bottom:2em;
}

.menu > a{
	margin-right:30px;
}

.brand{
	@extend %float-left;
	margin-right:$margin-right;
}

.menu{
	@extend %float-left;
	list-style:none;

	li{
		margin-bottom:10px;
	}
}

.search{
	margin-left:$margin-left;
}

.navigation{
	@extend %float-left;
	@include grid(2);

	margin-left:0;
	margin-right:10px;

	margin-bottom:20px;


}

.content{
	@extend %float-left;
	@include grid(10);
	
	margin-left:10px;
	margin-right:0;

	margin-bottom:40px;
}

.main{
	max-width:$max-width;
	margin:0 auto;
	
	@extend %clearfix;
	margin-bottom:40px;
}

.videos{
	@extend %clearfix;

	h2{font-weight:bold;}
	span{font-size:.8em;}
	p{font-size:.8em;}
}

.main-video, mais-videos{
	margin-bottom:40px;
	position:relative;
	.caption{
		position:absolute;
		bottom:0;
		left:0;
		padding:40px;
		color:white;
		background:#000;
		opacity:.8;
		text-shadow: 1px 1px 7px #000;
		span{

		}
		h2{
			font-size:32px;
			margin-bottom:.3em;
			color:white;
		}
		h3{
			font-size:18px;
			margin-bottom:.2em;
		}
		p{
			font-size:11px;
		}
		a{color:white;}
	}
}

.video, .video-double{
	position:relative;
	min-height:125px;

	.caption{
		color:white;
		position:absolute;
		background:black;
		z-index:0;
		bottom:0;
		opacity:0;
		padding:35px 0;
		margin-bottom:4px;
		-webkit-transition: opacity 290ms linear;
		transition: opacity 290ms linear;

		h2{
			font-size:12px;
			text-align:center;
			line-height:1.5em;
			a{
				color:white;
				font-size:1.2em;
			}
		}
	}
	&:hover > .caption{
		opacity:.8;
	}
}

.mais-videos{
	width:100%;
	@extend %clearfix;
	margin-bottom:1.2em;

	.video{
		position:relative;
		width:23.2222%;
		float:left;
		margin-left:10px;
		margin-right:10px;

		&:first-child{
			margin-left:0;
		}

		&:last-child{
			margin-right:0;
		}
	}

	.video-double{
		position:relative;
		width:48.81%;
		float:left;
		margin-left:10px;
		margin-right:10px;

		&:first-child{
			margin-left:0;
		}

		&:last-child{
			margin-right:0;
		}
	}
}
.wrp-video{
	float:left;
	width:48.81%;
	margin-left:10px;
	.video{
		width:47.55%;
		margin-left:10px;
	}
}
.ads-video{
	margin-left: 10px;
	display: inline-block;
	width: 48.8%;
	height: 154px;
	background: #ccc;
	margin-top: 19px
}
.cta{
	text-align:center;
	.btn{
		border:solid 1px #ccc;
		border-radius:3px;
		padding:15px 20px;
		margin-bottom:20px;
		background-color:#0A9D22;
		color:#E5FFE0;
		font-size:18px;
	}
}
.news{
	margin-bottom:40px;
}

.destaque{
	@extend %float-left;
	@include grid(10);
	margin-left:0;
	margin-right:10px;
	}

.latest-news{
	//@extend %float-left;
	@include grid(2);
	margin-left:10;
	margin-right:0;
	
	&:last-child{
		@extend %clearfix;
	}
}
.latest{
	@include grid(12);
}
.aside-title{
	font-size:1.3em;
	margin-bottom:10px;
}
.aside-latest-news{
	margin-bottom:10px;
	li{
		padding:12px 0;
		border-bottom:solid 1px #ccc;

		span{
			display:inline-block;
			font-size:.8em;
			margin-bottom:.5em;
		}
		p{
			font-size:.8em;
			margin-bottom:.5em;
		}
		a{
			line-height:1.4;
		}
	}
}

.adsenses{	
	max-width:$max-width;
	margin:0 auto;

	margin-bottom:40px;
}
.municipios{
	background:#f1f1f1;
}
.wrp-municipios{
	max-width:$max-width;
	margin:0 auto;
	padding:40px 0;
	@extend %clearfix;
}
.ls-municipios{
	float:left;
	width:25%;
	li{
		list-style:none;
		margin-bottom:8px;
		font-size:14px;
	}
}
footer{
	height:80px;
}