/**
 * Original compass imports
 *
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap"; */

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

/*Utilities*/
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "full-responsive";

/* Noudi Settings */
$alpha-bg: #d1d1d1;
$beta-bg: #ccc;

$gutter-sections:50px;
$gutter-sections-top: $gutter-sections;
$gutter-sections-bottom: $gutter-sections;

/* Blue Pallet */
$primary-color:#2196F3; /* RGB 33, 150, 243  */
$secondary-color-lighten:#42A5F5;
$secondary-color-darker:#0D47A1;
$accent-color-white-bg:#FFAB91;
$accent-color-dark-bg:#FFFFfF;


body{
	font-family: 'Open Sans', Arial, sans-serif;
	p {
		line-height: 1.7em;
	}
}

h1,h2{
	/*font-family: 'Raleway', Arial, sans-serif;*/
	/*font-family: 'Open Sans Condensed', Arial, sans-serif;*/
	font-family: 'Poiret One', Arial, sans-serif;
}

.section,
.full-section_content-box{ /* Isto daqui deveria ser um grid!? */

	@include container-fixed();

	padding-top:$gutter-sections-top;
	padding-bottom:$gutter-sections-bottom;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.content-box{
	@include make-row();

	@media(min-width: $screen-xs-min) {

	}
}

/**
 * Espaço reservado para Full Responsive Sections
 *
 */

.full-section{
	width:100%;
	@include clearfix();
}

.content-text{
	padding:30px;
}

/**
 * End Full Responsive Sections
 */


/**
 * Custom Sections
 */

.metodologias,
.tecnologias{
	background: $secondary-color-darker;
	color:$accent-color-dark-bg;
}
.etica{
	background:$secondary-color-lighten;
	color:$accent-color-dark-bg;
}
.recomendacoes{
	background: url('../imagens/50743_Papel-de-Parede-Design-de-Interior-Sala-de-TV_1680x1050.jpg') no-repeat center;
	height: 400px;
	color:$accent-color-dark-bg;
}

.titulo-sessao-light-bg,
.subtitulo{
	color:$primary-color;
	text-align: center;
	text-transform: uppercase;
	margin:1em;
	@include opacity(.87);
}
.titulo-sessao-darken-bg{
	color:$accent-color-dark-bg;
	margin:1em;
	text-transform: uppercase;
}
.separador{
		height: 1px;
		width: 100%;
		margin-bottom:3em;
		display: inline-block;
}

.separador-darken-bg{
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.09)), color-stop(70%, rgba(255, 255, 255, 0.09)), color-stop(100%, rgba(255, 255, 255, 0)));
	background-color: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
}

.separador-white-bg{
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
	background-color: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
}

.separador-contact-info{
	margin: 2em 0;
}

.navbar-brand{
	display: inline-block;
	width: 168px;
	height: 80px;
	background: url('../imagens/logo-nomeada.png') no-repeat center;
}

.contact-info{
		background: url('../imagens/meting.jpg') no-repeat center;
		color:$accent-color-dark-bg;
		text-align: center;
}

.contact-info_info{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.4em;
}

.form{
	padding-top: 0px;
}

.form_email-field,
.form_message-field{
	display:inline-block;
	width:100%;
	padding:6px;
	margin-bottom: 10px;
	background-color: #777777;
	border:solid 1px #777777;
}
.form_buttom{
	padding:6px 18px;
	color:white;
	background-color: #404040;
	border:solid 1px #404040;
	margin-bottom: 10px;
}

/**
 * End custoom sections
 */

/* Pega as margens dos columns-** do bootstrap */
.projeto{
	margin-bottom: 10px;
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(3);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(3);
	}
}

/* Icons */
.servico{
	text-align: center;
}
/* Begining with spritesheets.

.flags-canada, .flags-mexico, .flags-usa {
  background-image: url('../images/flags.png');
  background-repeat: no-repeat;
}

.flags-canada {
  height: 128px;
  background-position: -5px -5px;
}

.flags-usa {
  height: 135px;
  background-position: -5px -143px;
}

.flags-mexico {
  height: 147px;
  background-position: -5px -288px;
}
*/
.icon{
	display:inline-block;
	width:160px;
	height:160px;
	background: url('../imagens/icons/website.png') no-repeat center;
	border: solid 5px #F1F1F1;
	border-radius: 6em;
}

.icon-website{
	background: url('../imagens/icons/website.png') no-repeat center;
}
.icon-mobile{
	background: url('../imagens/icons/mobile.png') no-repeat center;
}
.icon-seo{
	background: url('../imagens/icons/seo.png') no-repeat center;
}
/* end Icons */

.sobre-footer,
.galeria-portfolio,
.fale-conosco{
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(4);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(4);
	}
}

.projeto-da-galeria{
	margin-bottom: 2em;

	@media (min-width: $screen-sm-min) {
		@include make-sm-column(6);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(6);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(6);
	}
}

/**
 *
 */
@media screen and (min-width: 320px) {
	.leia-mais{
		color:$accent-color-dark-bg;
		border: solid 1px $accent-color-dark-bg;
		padding:10px;
		&:hover{
			text-decoration: none;
			color: #c8c8c8;
			border: solid 1px #c8c8c8;
		}
	}

	.apresentacao{
		min-height	:400px;
		margin-top:-20px;
		background: url('../imagens/banner001.jpg') no-repeat center;
		.titulo{
			padding-top:3.5em;
			text-transform: uppercase;
			font-size:2em;
			font-weight: bold;
			color:$accent-color-dark-bg;
			line-height: 1;
			margin:0;
		}
		p{
			font-size:1.5em;
			color:$accent-color-dark-bg;
			@include opacity(.70);
		}
	}

	/* Grid Fixes */
	.sobre,
	.servico{
		@include make-xs-column(12);
	}

	.metodologias-de-trabalho{
		@include make-full-xs-column(12);
		font-size: 1.3em;
	}

	.contact-info_apresentacao{
		margin: 0;
	}
	.copyright{
		@include make-xs-column(12);
		@include opacity(.70);

	}
	.copyright-link{
			color:$accent-color-dark-bg;
			text-decoration: none;
			&:hover{
				color:$secondary-color-lighten;
				text-decoration: none;
			}
	}
}
/* end Media XS */

/* Media SM */
@media screen and (min-width: $screen-sm-min) {

	.servico,
	.sobre-footer{
		@include make-sm-column(4);
	}

	.projeto{
		@include make-sm-column(3);
	}

	.sobre,
	.slide-projetos{
		@include make-sm-column(6);
	}

	.metodologias-de-trabalho{
		@include make-full-md-column(4)
	}

	.copyright{
		@include make-md-column(12);
	}
}

@media screen and (min-width: $screen-md-min) {
	.navbar-default{
		font-size:1.2em;
	}
	.contact-info_info{
		@include make-md-column(6);
		@include make-md-column-offset(3);
	}

	.content-box_apresentacao{
		@include make-sm-column(8);
	}

	.metodologias-de-trabalho{
		min-height: 583px;

	}
	.sobre,
	.slide-projetos{
		@include make-sm-column(6);
	}
}

@media screen and (min-width: $screen-lg-min) {

	.apresentacao{
		min-height: 590px;
		.titulo{
			padding-top:4em;
			font-size: 3em;
		}
	}
	.metodologias-de-trabalho{
		min-height: 465px;
	}
}
