// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
// @import "bootstrap";
*{
  box-sizing: border-box;
}

@import "bootstrap/normalize";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";

.feature-section {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

@media(min-width:320px){
    .feature-section--wide{   
        // @include container-fixed();
        vertical-align: middle!important;
        display: table-cell!important;
        height:500px;
        background:#00BCD4; //cyan
    }

    .hero-content{    
        // @include make-row();
        @include container-fixed();
    }

    .experience__item-media{
        margin-top: 15px;
        padding-left:15px;
        border-left:solid 5px #ccc;
        &:first-child {
            margin-top: 0;
        }
    }

    .experience__item-media,
    .experience__item--body {
        zoom: 1;
        overflow: hidden;
    }

    .experience__item-media--left{   
        padding-right: 10px;
        span{
            font-size: .8em;
            color:#ccc;
        }
        h4{
            font-size: 1.6em;
            margin: 5px 0;
            color:#111;
        }
        h5{
            font-size:1.2em;
            color:#666;
            margin:5px 0;
        }
    }
    .experience__item-media--body{
        p{
            color:#666;
        }
    }
    .experience__item-media--left,
    .experience__item-media--body {
        display: block;
        vertical-align: top;
    }
}