// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
// @import "bootstrap";
*{
  box-sizing: border-box;
}

@import "bootstrap/normalize";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";

/* Este mixing vai para um arquivo separado */
@mixin make-full-md-column($columns){
  position: relative;
  min-height: 1px;

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

@mixin make-full-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  min-height: 1px;
}

.feature-section,
.hero-container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}
.feature-section,
.feature-section--wide{
    padding-top:40px;
    padding-bottom:40px;
}

@media(min-width:320px){
    .hero{
        background:url('../images/hero-xs.jpg') no-repeat center top;
        height:600px;
    }
    .feature-section__hero-title{
        font-size:2.2em;
        color: rgba(255, 255, 255, 1);
    }
    
    .feature-section__default-title{
        font-size:2.2em;
        color: rgba(0, 0, 0, .87);
    }

    .feature-section__hero-subtitle{
        font-size:1.4em;
    }

    .feature-section__hero-subtitle,
    .feature-section__hero-resume{
        color: rgba(255, 255, 255, .7); 
    }

    .feature-section__title_header{
        @include container-fixed();
    }
    .feature-section--wide{
        // height:500px;
        // background:#00BCD4; //cyan
        width:100%;
	    @include clearfix();
        // vertical-align: middle!important;
        // display: table-cell!important;
    }

    // .hero-container{
    //     @include container-fixed();
    //     // vertical-align: middle!important;
    //     // display: table-cell!important;
    // }
    
    // .hero-container__content{
    //     @include make-row();
    // }
    .experience__container{
        @include make-row();
    }

    .experience__item-media{
        margin-top: 15px;
        padding-left:15px;
        border-left:solid 5px #ccc;
        &:first-child {
            margin-top: 0;
        }
    }

    .experience__item-media,
    .experience__item--body {
        zoom: 1;
        overflow: hidden;
    }

    .experience__item-media--left{   
        padding-right: 10px;
        span{
            font-size: .8em;
            color:#ccc;
        }
        h4{
            font-size: 1.6em;
            margin: 5px 0;
            color:#111;
        }
        h5{
            font-size:1.2em;
            color:#666;
            margin:5px 0;
        }
    }
    .experience__item-media--body{
        p{
            color:#666;
        }
    }
    .experience__item-media--left,
    .experience__item-media--body {
        display: block;
        // vertical-align: top;
    }

    // .portfolio{
    //     // @include make-row();
    // }

    .portfolio__item{
        @include make-full-md-column(4);
        img{
            display:block;
            width:100%;
            height: auto;
        }
    }
}

@media(min-width: $screen-sm-min){
    .hero{
        background:url('../images/hero-lg.jpg') no-repeat center top;
        height:600px;
    }
}