@import "settings";
// @import "../bower_components/foundation/scss/foundation";

// Or selectively include components
@import "../bower_components/foundation/scss/foundation/components/grid",
"../bower_components/foundation/scss/foundation/components/block-grid",
"../bower_components/foundation/scss/foundation/components/type";
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

h1{
	font-size: $h1-font-size;
	font-family: $header-font-family;
}
p{
	font-size: $h4-font-size;
	font-family: $header-font-family;
}
.traducoes,
header, 
footer {
	@include grid-row();

	.columns {
		@include grid-column($columns:12, 
				$last-column:false, 
				$center:true, 
				$offset:false, 
				$push:false, 
				$pull:false, 
				$collapse:true, 
				$float:false,
				$position:false);
	}
}