/* line 110, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 116, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 130, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 137, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* line 43, ../scss/app.scss */
h1 {
  font-size: 2.75rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/* line 48, ../scss/app.scss */
.traducoes,
header,
footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
}
/* line 130, ../bower_components/foundation/scss/foundation/components/_global.scss */
.traducoes:before, .traducoes:after,
header:before,
header:after,
footer:before,
footer:after {
  content: " ";
  display: table;
}
/* line 131, ../bower_components/foundation/scss/foundation/components/_global.scss */
.traducoes:after,
header:after,
footer:after {
  clear: both;
}
/* line 53, ../scss/app.scss */
.traducoes .columns,
header .columns,
footer .columns {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
