/**
 * Original compass imports
 *
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap"; */

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

/*Utilities*/
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "full-responsive";

/* Noudi Settings */
$alpha-bg: #d1d1d1;
$beta-bg: #ccc;

$gutter-sections:50px;
$gutter-sections-top: $gutter-sections;
$gutter-sections-bottom: $gutter-sections;

.section,
.full-section_content-box{ /* Isto daqui deveria ser um grid!? */

	@include container-fixed();

	padding-top:$gutter-sections-top;
	padding-bottom:$gutter-sections-bottom;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.content-box{
	@include make-row();

	@media(min-width: $screen-xs-min) {

	}

}

/**
 * Espaço reservado para Full Responsive Sections
 *
 */

.full-section{
	width:100%;
	@include clearfix();
}

.content-text{
	padding:30px;
}

/**
 * End Full Responsive Sections
 */

/**
 * Custom Sections
 */

.titulo-sessao{
	text-align: center;
	text-transform: uppercase;
}

.separador{
	height: 1px;
	background-color: #ccc;
	width: 100%;
	display: block;
	margin-bottom: 35px;
}

body{
	font-family: 'Open Sans', Arial, sans-serif;
	p {
		line-height: 1.7em;
	}
}

/* footer */
.informacoes-de-contato{
	// background: #222222;
	color:#cccccc;
}

.title-brand{
	max-width: 150px;
	padding: 8px 12px;
	border:solid 2px #aaa;
	font-weight: bold;
	color:#aaa;
}

.sobre-footer{
	font-size: 12px;
}

.form{
	padding-top: 0px;
}

.form_email-field,
.form_message-field{
	display:inline-block;
	width:100%;
	padding:6px;
	margin-bottom: 10px;
	background-color: #777777;
	border:solid 1px #777777;
}
.form_buttom{
	padding:6px 18px;
	color:white;
	background-color: #404040;
	border:solid 1px #404040;
	margin-bottom: 10px;
}

/**
 * End custoom sections
 */

/* Pega as margens dos columns-** do bootstrap */
.projeto{
	margin-bottom: 10px;
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(3);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(3);
	}
}

.sobre-footer,
.galeria-portfolio,
.fale-conosco{
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(4);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(4);
	}
}

.projeto-da-galeria{
	margin-bottom: 2em;

	@media (min-width: $screen-sm-min) {
		@include make-sm-column(6);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(6);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(6);
	}
}

/**
 *
 */
@media screen and (min-width: 320px) {
	.apresentacao-mobile{
		display: inline-block;
		height	:460px;
		margin-top:-20px;
		background: url('../imagens/bg-header-mobile.jpg') no-repeat center;
    box-shadow: .01em .1em .5em #9a9a9a;
		text-align: center;
	}

	.cto-contato{
    padding: 1em;
    background: #F44336;
    color: white;
    line-height: 4em;
    box-shadow: .1em .1em .1em #9a9a9a;
	}

	.bnt-enviar{
		border: solid 1px #f44336;
		    background: #F44336;
		    color: white;
		    padding: .5em 2em;

		    box-shadow: .1em .1em .1em #9a9a9a;
	}

	.apresentacao-mobile_header,
	.clientes{
		background: #f7f7f7;
		border-bottom: solid 1px #e6e6e6;
		text-align: center;
	}

	.apresentacao-mobile,
	.recomendacoes,
	.contato-form_descricao{
		text-align: center;
		color:black;
	}

	.recomendacoes{
		min-height: 230px;
	}

	.apresentacao-mobile_descricao,
	.recomendacao{
		opacity: .78;
	}
	.recomendacao-autor{
		margin-top:1.2em;
		line-height: 2em;
		opacity: .54;
		text-align: center;
	}

	.clientes-lista-mobile{
		margin:0 auto;
		width: 35%;
	}

	.cycle-slide{
		// margin-left: 18px;
		// margin-right:18px;
	}

	/* Grid Fixes */
	.sobre,
	.imagem-promo,
	.sobre-footer,
	.contato-form,
	.recomendacao{
		@include make-xs-column(12);
	}

	.horario{
		background: #2196F3;
		box-shadow: .1em .1em .1em #9a9a9a;
		font-size:1em;
		color:white;
		opacity: .78;
	}
}

@media screen and (min-width:425px){
	.clientes-lista-mobile{
		margin:0 auto;
		width: 25%;
	}
}

@media screen and (min-width: $screen-sm-min) {
	.apresentacao{
		background: url('../imagens/header.jpg') no-repeat center;
		min-height: 600px;
	}

	.clientes-lista{
		@include make-sm-column(10);
		@include make-sm-column-offset(1);
	}
	.cycle-slide{
		margin-left: 15px;
	}
	.sobre,
	.imagem-promo{
		@include make-sm-column(6);
	}

	.contato-form{
		@include make-sm-column(6);
		@include make-sm-column-offset(3);
	}

	.sobre-footer,
	.fale-conosco{
		@include make-sm-column(4);
	}
}

@media screen and (min-width: $screen-md-min) {
	.clientes-lista{
			@include make-sm-column(10);
			@include make-sm-column-offset(2);
	}
	.cycle-slide{
		margin-left: 15px;
	}
	.endereco,
	.mapa-do-endereco{
		@include make-full-md-column(6);
		line-height: 0;
	}

	.google-maps{
		width:100%;
		min-height: 400px;
	}
	.sobre,
	.slide-projetos{
		@include make-sm-column(6);
	}
}

@media screen and (min-width: $screen-lg-min) {
	.clientes-lista{
			@include make-lg-column(8);
			@include make-lg-column-offset(3);
	}
}
