// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$darken-color: #000000;
$lighten-color: #FFFFFF;
// Textos escuros com fundo branco.
$primary-text-darken: rgba($darken-color, .78);
$secondary-text-darken: rgba($darken-color, .54);

// Textos claros com fundo escuro
$primary-text-lighten: rgba($lighten-color, 1);
$secondary-text-lighten: rgba($lighten-color, .7);

@media(min-width:320px){
  .brand{
    background: url(../imagens/imagem-promo.jpg) no-repeat center;
    padding-top: 70px;
    padding-bottom: 10px;
    // min-height: 500px;
  }
  .brand > img,.container-de-servicos_servico > img{
    margin: auto;
  }

  .navbar-collapse{
    text-align: center;
  }

  .quem-somos,
  .nossos-servicos,
  .contato,
  .localizacao,
  .rodape-container,
  .copyright{
    @include container-fixed();
    text-align: center;
  }

  .contato{
    background: #333;
  }

  p[class^="contato_"]{
    color: $secondary-text-lighten;
  }

  .titulo,
  .servico_subtitulo{
    font-weight: bold;
    color: $primary-text-darken;
  }

  .titulo{
    font-size:3em;
  }

  .subtitulo,
  .servico_subtitulo{
    font-size: 1.5em;
  }

  .titulo.texto-claro{
    color: $primary-text-lighten;
  }
  .subtitulo.texto-claro{
    color: $secondary-text-lighten;
  }

  .descricao,
  .servico_descricao{
    color: rgba($darken-color, .54);
  }


}
