// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@media(min-width:320px){
  .brand{
    background: url(../imagens/imagem-promo.jpg) no-repeat center;
    padding-top: 70px;
    padding-bottom: 10px;
    // min-height: 500px;
  }
  .brand > img{
    margin: auto;
  }

  .navbar-collapse{
    text-align: center;
  }

  .quem-somos,
  .nossos-servicos,
  .contato,
  .localizacao,
  .rodape-container,
  .copyright{
    @include container-fixed();
    text-align: center;
  }
}
