@font-face {
  font-family: "Opens Sans";
  src: url('/fonts/OpenSans-Regular.ttf?1415367000') format('truetype');
}
/* line 23, ../sass/estilos.scss */
html {
  background: #F2F2F2;
}

/* line 27, ../sass/estilos.scss */
body {
  width: 960px;
  margin: 0 auto;
}

/* line 31, ../sass/estilos.scss */
.content {
  background: white;
  padding: 20px;
  -moz-border-radius: 5;
  -webkit-border-radius: 5;
  border-radius: 5;
}
/* line 36, ../sass/estilos.scss */
.content h1 {
  color: black;
  font-size: 32px;
  font-family: "Open Sans", "Helvetica", sans-serif;
}
/* line 42, ../sass/estilos.scss */
.content p {
  font-size: 18px;
}
/* line 44, ../sass/estilos.scss */
.content p a {
  text-decoration: none;
}
