/* line 16, ../sass/estilos.scss */
html {
  background: #F2F2F2;
}

/* line 20, ../sass/estilos.scss */
body {
  width: 960px;
  margin: 0 auto;
}

/* line 24, ../sass/estilos.scss */
.content {
  background: white;
  padding: 20px;
  -moz-border-radius: 5;
  -webkit-border-radius: 5;
  border-radius: 5;
}
/* line 29, ../sass/estilos.scss */
.content h1 {
  color: black;
  font-size: 32px;
}
/* line 34, ../sass/estilos.scss */
.content p {
  font-size: 18px;
}
