@font-face {
  font-family: "Open Sans";
  src: url('/fonts/OpenSans-Regular.ttf?1415367000') format('truetype'), url('/fonts/glyphicons-halflings-regular.eot?1413212111') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff?1413212111') format('woff');
}
/* line 24, ../sass/estilos.scss */
html {
  background: #F2F2F2;
}

/* line 27, ../sass/estilos.scss */
body {
  width: 960px;
  margin: 0 auto;
}

/* line 31, ../sass/estilos.scss */
a {
  text-decoration: none;
}

/* line 34, ../sass/estilos.scss */
.content {
  background: white;
  padding: 20px;
  -moz-border-radius: 5;
  -webkit-border-radius: 5;
  border-radius: 5;
}
/* line 39, ../sass/estilos.scss */
.content h1 {
  color: black;
  font-size: 32px;
  font-family: "Helvetica", "Arial", sans-serif;
}
/* line 45, ../sass/estilos.scss */
.content p {
  font-size: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
}
