/* line 5, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 37, ../sass/styles.scss */
.brand, .menu, .navigation, .content, .destaque {
  float: left;
}

/* line 41, ../sass/styles.scss */
header, .main, .videos, .mais-videos, .latest-news:last-child, .wrp-municipios {
  overflow: hidden;
  *zoom: 1;
}

/* line 46, ../sass/styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 49, ../sass/styles.scss */
header {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0;
}
/* line 58, ../sass/styles.scss */
header .menu {
  margin-top: 65px;
}
/* line 61, ../sass/styles.scss */
header .search {
  margin-top: 42px;
  float: right;
}
/* line 64, ../sass/styles.scss */
header .search input {
  padding: 10px;
  width: 300px;
}
/* line 68, ../sass/styles.scss */
header .search button {
  background: white;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 11px;
  color: #888;
}

/* line 78, ../sass/styles.scss */
a {
  text-decoration: none;
  color: #888;
}

/* line 83, ../sass/styles.scss */
hr {
  max-width: 1024px;
  margin-bottom: 2em;
}

/* line 88, ../sass/styles.scss */
.menu > a {
  margin-right: 30px;
}

/* line 92, ../sass/styles.scss */
.brand {
  margin-right: 10px;
}

/* line 97, ../sass/styles.scss */
.menu {
  list-style: none;
}
/* line 101, ../sass/styles.scss */
.menu li {
  margin-bottom: 10px;
}

/* line 106, ../sass/styles.scss */
.search {
  margin-left: 10px;
}

/* line 110, ../sass/styles.scss */
.navigation {
  width: 15.6901%;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* line 122, ../sass/styles.scss */
.content {
  width: 82.35677%;
  margin-left: 10px;
  margin-right: 0;
  margin-bottom: 40px;
}

/* line 132, ../sass/styles.scss */
.main {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* line 143, ../sass/styles.scss */
.videos h2 {
  font-weight: bold;
}
/* line 144, ../sass/styles.scss */
.videos span {
  font-size: .8em;
}
/* line 145, ../sass/styles.scss */
.videos p {
  font-size: .8em;
}

/* line 148, ../sass/styles.scss */
.main-video, mais-videos {
  margin-bottom: 40px;
  position: relative;
}
/* line 151, ../sass/styles.scss */
.main-video .caption, mais-videos .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  color: white;
}
/* line 160, ../sass/styles.scss */
.main-video .caption h2, mais-videos .caption h2 {
  font-size: 32px;
  margin-bottom: .3em;
  color: white;
}
/* line 165, ../sass/styles.scss */
.main-video .caption h3, mais-videos .caption h3 {
  font-size: 18px;
  margin-bottom: .2em;
}
/* line 169, ../sass/styles.scss */
.main-video .caption p, mais-videos .caption p {
  font-size: 11px;
}

/* line 175, ../sass/styles.scss */
.video, .video-double {
  position: relative;
  min-height: 125px;
}
/* line 179, ../sass/styles.scss */
.video .caption, .video-double .caption {
  color: white;
  position: absolute;
  background: black;
  bottom: 0;
  opacity: 0;
  padding: 55px;
  margin-bottom: 4px;
  -webkit-transition: opacity 290ms linear;
  transition: opacity 290ms linear;
}
/* line 190, ../sass/styles.scss */
.video .caption h2, .video-double .caption h2 {
  font-size: 12px;
  text-align: center;
}
/* line 196, ../sass/styles.scss */
.video:hover > .caption, .video-double:hover > .caption {
  opacity: .6;
}

/* line 201, ../sass/styles.scss */
.mais-videos {
  width: 100%;
  margin-bottom: 1.2em;
}
/* line 206, ../sass/styles.scss */
.mais-videos .video {
  position: relative;
  width: 23.2222%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 213, ../sass/styles.scss */
.mais-videos .video:first-child {
  margin-left: 0;
}
/* line 217, ../sass/styles.scss */
.mais-videos .video:last-child {
  margin-right: 0;
}
/* line 222, ../sass/styles.scss */
.mais-videos .video-double {
  position: relative;
  width: 48.81%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 229, ../sass/styles.scss */
.mais-videos .video-double:first-child {
  margin-left: 0;
}
/* line 233, ../sass/styles.scss */
.mais-videos .video-double:last-child {
  margin-right: 0;
}

/* line 238, ../sass/styles.scss */
.cta {
  text-align: center;
}
/* line 240, ../sass/styles.scss */
.cta .btn {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #0A9D22;
  color: #E5FFE0;
}

/* line 249, ../sass/styles.scss */
.news {
  margin-bottom: 40px;
}

/* line 253, ../sass/styles.scss */
.destaque {
  width: 82.35677%;
  margin-left: 0;
  margin-right: 10px;
}

/* line 260, ../sass/styles.scss */
.latest-news {
  width: 15.6901%;
  margin-left: 10;
  margin-right: 0;
}

/* line 270, ../sass/styles.scss */
.latest {
  width: 99.02344%;
}

/* line 273, ../sass/styles.scss */
.adsenses {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* line 279, ../sass/styles.scss */
.municipios {
  background: #f1f1f1;
}

/* line 282, ../sass/styles.scss */
.wrp-municipios {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
}

/* line 288, ../sass/styles.scss */
.ls-municipios {
  float: left;
  width: 25%;
}
/* line 291, ../sass/styles.scss */
.ls-municipios li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 14px;
}
