/**
 * Original compass imports
 * 
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap"; */

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

/*Utilities*/
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "full-responsive";

/* Noudi Settings */
$alpha-bg: #d1d1d1;
$beta-bg: #ccc;

$gutter-sections:50px;
$gutter-sections-top: $gutter-sections;
$gutter-sections-bottom: $gutter-sections;

.section,
.full-section_content-box{ /* Isto daqui deveria ser um grid!? */

	@include container-fixed();

	padding-top:$gutter-sections-top;
	padding-bottom:$gutter-sections-bottom;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.content-box{
	@include make-row();

	@media(min-width: $screen-xs-min) {
		
	}

}

/**
 * Espaço reservado para Full Responsive Sections
 * 
 */

.full-section{
	width:100%;
	@include clearfix();
}

.content-text{
	padding:30px;
}

/**
 * End Full Responsive Sections
 */
footer{
	background: #222222;
	color:#cccccc;
}

/* Componentes */
.title-brand{
	max-width: 150px;
	padding: 8px 12px;
	border:solid 2px #aaa;
	font-weight: bold;
	color:#aaa;
}

.sobre-footer{
	font-size: 12px;
}

.formulario-de-reserva{
	padding-top: 0px;
}
.formulario-de-reserva_nome,
.formulario-de-reserva_fone,
.formulario-de-reserva_data,
.formulario-de-reserva_horario{
	display:inline-block;
	width:100%;
	padding:6px;
	margin-bottom: 10px;
	border:solid 1px #777777;
}
.formulario-de-reserva_botao{
	padding:6px 18px;
	color:white;
	background-color: #EF431B;
	border:solid 1px #AF3C02;
	margin-bottom: 10px;
}
/* End Componentes */

/**
 * Custom Sections
 */

.separador{
	height: 1px;
	background-color: #ccc;
	width: 100%;
	display: block;
	margin-bottom: 35px;
}

.apresentacao{
	height	:600px;
	margin-top:-20px;
	background: url('../imagens/2-Sakagura_PA_ElvisFernandes.jpg') no-repeat center;
	.titulo{
		text-align: center;
		padding-top:10%;
		font-size:3em;
		font-weight: bold;
		color:white;
		text-shadow: 2px 1px #333333;
	}
	p{
		font-size:24px;
		color:white;
		text-align: center;
	}
}

.cardapio{
	background: url('../imagens/2-Sakagura_PA_ElvisFernandes.jpg') no-repeat center;
		color:white;
}

.horarios{
	background: url('../imagens/2-Sakagura_PA_ElvisFernandes.jpg') no-repeat center;
		color:white;
}
.prato-do-dia{
	background: url('../imagens/2-Sakagura_PA_ElvisFernandes.jpg') no-repeat center;
	color:white;
}
.recomenadacao{
	text-align: center;
}
/**
 * End custoom sections
 */

/* Tipografia */
body{
	font-family: 'Open Sans', Arial, sans-serif;
	padding-top: 70px;

	p {
		font-size: 1.4em;
		line-height: 1.7em;
	}
}

.titulo,
.small-title,
.titulo-sessao{
	/* font-family: 'Pacifico', Arial, cursive;*/
	font-family: 'Kaushan Script', Arial, cursive;
	font-size: 3em;
}

.titulo,
.small-title,
.titulo-sessao,
.resumo-apresentacao,
.apresentacao-sessao{
	text-align: center;
}

/**
 * Media Queries
 */
@media screen and (min-width: 320px) {
	.titulo-interno{
		font-family: 'Kaushan Script', Arial, cursive;
		text-align: center;
	}

	.espaco{
		@include make-xs-column(6);
	}
	.reserva,
	.refeicoes{
		@include make-xs-column(12);
	}
	/* Grid Fixes */
	.sobre,
	.slide-projetos,
	.sobre-footer,
	.galeria-portfolio,
	.fale-conosco,
	.projeto,
	.servico,
	.recomendacao{
		@include make-xs-column(12);
	}
}

@media screen and (min-width: $screen-sm-min) {
	.apresentacao-sessao
	{
		@include make-sm-column(8);
		@include make-sm-column-offset(2);
	}

	.titulo-interno{
		text-align: left;
	}

	.sobre,
	.sobre-imagem{
		@include make-sm-column(6);
	}
	.refeicoes{
		@include make-sm-column(4);
	}
}

@media screen and (min-width: $screen-md-min) {

}

@media screen and (min-width: $screen-lg-min) {
}