// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@mixin make-full-md-column($columns){
  position: relative;
  min-height: 1px;

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

@mixin make-full-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  min-height: 1px;
}

p{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
}
@media(min-width:320px){
  .informacoes-de-contato-top{
    font-size: .8em;
    background: #f5f5f5;
    border-bottom: solid 1px #ccc;
    padding-top:1em;
    padding-bottom: 1em;
    line-height: .5em;
    color:rgba(0, 0, 0, .78);
  }
  .contato-left, .contato-right{
      text-align: center;
  }
  .mobile-brand{
    text-align: center;
  }

  .navbar-default .navbar-collapse,
  .empresa-description{
    text-align: center;
  }
  .empresa,
  .paineis-de-planos,
  .assinatura{
    @include container-fixed();
    padding-top:50px;
    padding-bottom: 50px;
  }
  .empresa-description{
    margin-bottom: 30px;
  }
  .lead{
    margin-bottom: 0;
  }
  .paineis-de-planos_container,
  .assinatura-container{
    @include make-row();
  }

  .planos{
    border-top: solid 1px #ccc;
    background: #f9f9f9;
  }
  .plano,
  .call-center-atendente,
  .faca-assinatura{
    @include make-xs-column(12);
  }
  .plano-panel{
      border:solid 1px #ccc;
      margin-bottom: 10px;
      text-align: center;
      padding-bottom: 2em;
      position: relative;
      background: white;
      header{
        font-family: 'Comfortaa', cursive;
        color: white;
        padding-top: 1em;
        padding-bottom: 2em;
        margin-bottom: 50px;
        font-size: 2em;
      }
      .valor-plano{
        font-size: 3em;
        font-weight: bold;
        background:white;
        width:224px;
        height: 216px;
        margin: auto;
        border: solid 1px white;
        border-radius: 112px;
        padding:1em .2em;
        position:absolute;
        top:85px;
        left:11%;
      }
      .periodicidade-plano{
        color: rgba(0,0,0,.78);
        position: relative;
        z-index: 1;
      }
      .descricao-plano, .cta-assinatura{
        position:relative;
        z-index: 1;
      }
      .cta-assinatura{
        display: inline-block;
        background: #F12D2D;
        padding: 1em;
        color:rgba(255, 255, 255, .78);
      }
  }
  .img-circle-blue{
    border:solid 5px #2196f3;
    border-radius: 50%;
  }
  .plano1{
    header{
      background: #3498db;
    }
    .valor-plano,
    .periodicidade-plano{
      color:#3498db;
    }
  }
  .plano2{
    header{
      background: #FF9800;
    }
    .valor-plano,
    .periodicidade-plano{
      color:#FF9800;
    }
  }
  .plano3{
    header{
        background: #e74c3c;
    }
    .valor-plano,
    .periodicidade-plano{
      color:#e74c3c;
    }
  }
  .contato{
    @include clearfix();
    background: #2196F3;
  }

  .separador{
    display: inline-block;
    width: 80px;
    height: 2px;
    background: #3682ff;
    margin-bottom: 20px;
  }

  .header-sections{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgba(0,0,0, .78);
  }
  .header-sections.darken{
    color: rgba(255,255,255, .78);
  }

  .contato-informacoes{
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(255, 255, 255, .78);
  }
  .mapa-do-endereco{
    @include make-full-xs-column(12);
  }
  .assinatura{
    background: #f6f6f6;
  }
  
  .fone-assinatura{
    font-size: 2em;
  }

  .google-maps{
    width:100%;
  	min-height: 450px;
  }
  .copyright{
    font-size: .8em;
    color: rgba(0, 0, 0, .78);
    padding:1em 0 0;
    text-align: center;
  }
}

@media(min-width:375px){
  .plano{
    .valor-plano{
      left:17%;
    }
  }
}

@media(min-width:425px){
  .plano{
    .valor-plano{
      left:22%;
    }
  }
}

@media(min-width: $screen-sm){
  .empresa,
  .contato-container{
    width:$container-sm;
  }
    .informacoes-de-contato-top{
      padding: 10px 15px 20px;
    }

    .contato-left{
      float: left;
      p{
        display: inline;
      }
    }
    .contato-right{
      float: right;
    }

    .apresentacao{
      box-shadow: 0 2px 2px rgba(0, 0, 0, .54);
      // margin-top:-20px;
    }
    .vantagem{
        @include make-sm-column(4);
    }
    .paineis-de-planos{
      width: $container-sm;
    }

    .plano{
      @include make-sm-column(4);
      // @include make-sm-column-offset(3);
      .valor-plano{
        left:-1%;
      }
    }

    .call-center-atendente,
    .faca-assinatura{
      @include make-sm-column(6);
    }
}

@media(min-width:$screen-md){
  .empresa,
  .paineis-de-planos,
  .contato-container{
    width:$container-md;
  }

  .planos{
    .valor-plano{
      left: 12%;
    }
  }
  // .plano{
  //   @include make-md-column(4);
  //   @include make-md-column-offset(3);
  // }

  .contato-informacoes,
  .mapa-do-endereco{
    color: rgba(255,255,255,.78);
    background: #2196F3;
    @include make-full-md-column(6);
    min-height: 1px;
  }
}

@media(min-width:$screen-lg){
  .empresa,
  .paineis-de-planos,
  .contato-container{
    width:$container-lg;
  }
  .planos{
    .valor-plano{
      left: 20%;
    }
  }
}
