// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@media(min-width:320px){
  .informacoes-de-contato-top{
    background: #f5f5f5;
    border-bottom: solid 1px #ccc;
    padding-top:1em;
    padding-bottom: 1em;
    line-height: .5em;
    color:rgba(0, 0, 0, .78);
  }
  .contato-left, .contato-right{
      text-align: center;
  }
  .mobile-brand{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }

  .navbar-default .navbar-collapse{
    text-align: center;
  }
  .empresa,
  .paineis-de-planos,
  .contato-container{
    @include container-fixed();
  }
  .paineis-de-planos_container{
    @include make-row();
  }
  .planos{
    border-top: solid 1px #ccc;
    background: #f9f9f9;
  }

  .plano-panel{
      border:solid 1px #ccc;
      margin-bottom: 10px;
      text-align: center;
      padding-bottom: 2em;
      position: relative;
      background: white;
      header{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 50px;
        font-size: 2em;
      }
      .valor-plano{
        font-size: 2em;
        background:white;
        width:200px;
        height: 200px;
        margin: auto;
        border: solid 1px white;
        border-radius: 100px;
        padding:1em;
        position:absolute;
        top:60px;
        left:16%;
      }
      .descricao-plano, .cta-assinatura{
        position:relative;
        z-index: 1;
      }
      .cta-assinatura{
        display: inline-block;
        background: #F12D2D;
        padding: 1em;
        color:rgba(255, 255, 255, .78);
      }
  }
  .plano1{
    header{
      background: #3498db;
    }
  }
  .plano2{

    header{
      background: #555555;
    }
  }
  .plano3{
    header{

        background: #e74c3c;
    }
  }

  .contato{
    color: rgba(255,255,255,.78);
    background: url(../imagens/person-apple-laptop-notebook.jpg) no-repeat center;
  }
  .contato-formulario{
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .54);
  }
  .campo-contato{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 1em;
  }
  .campo-mensagem{
    width: 100%;
    padding:1em;
  }
  .btn-enviar{
    background: #d03333;
    border: solid 1px #d03333;
    color: rgba(255, 255, 255, .78);
    padding:1em 1.5em;
  }

  .separador{
    display: inline-block;
    width: 80px;
    height: 2px;
    background: #3682ff;
    margin-bottom: 20px;
  }

  .header-sections{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgba(0,0,0, .78);
  }
}

@media(min-width:375px){
  .plano{
    .valor-plano{
      left:21%;
    }
  }
}

@media(min-width:425px){
  .plano{
    .valor-plano{
      left:25%;
    }
  }
}

@media(min-width: $screen-sm){
  .empresa,
  .contato-container{
    width:$container-sm;
  }
    .informacoes-de-contato-top{
      padding: 15px;
    }

    .contato-left{
      float: left;
      p{
        display: inline;
      }
    }
    .contato-right{
      float: right;
    }

    .apresentacao{
      box-shadow: 0 2px 2px rgba(0, 0, 0, .54);
    }

    .paineis-de-planos{
      width: $container-sm;
    }

    .plano{
      @include make-sm-column(4);
      // @include make-sm-column-offset(3);
      .valor-plano{
        left:4%;
      }
    }
}

@media(min-width:$screen-md){
  .empresa,
  .paineis-de-planos,
  .contato-container{
    width:$container-md;
  }

  .planos{
    .valor-plano{
      left: 15%;
    }
  }
  // .plano{
  //   @include make-md-column(4);
  //   @include make-md-column-offset(3);
  // }

  .contato-informacoes,
  .contato-container-formulario{
    @include make-md-column(6);
  }
}

@media(min-width:$screen-lg){
  .empresa,
  .paineis-de-planos,
  .contato-container{
    width:$container-lg;
  }
  .planos{
    .valor-plano{
      left: 22%;
    }
  }
}
