@import "normalize";
@import "config";

$pri-color:#F2F2F2;
$sec-color:white;

$page-width:960px;

html{
	background: $pri-color;
}

body{
	width:$page-width;
	margin: 0 auto;
}
.content{
	background: $sec-color;
	padding:20px;
	@include border-radius(5);
}