@import "normalize";
@import "config";
@import "compass";

@include font-face('Open Sans', font-files("OpenSans-Regular.ttf"));

// Cores
$pri-color:#F2F2F2;
$sec-color:white;

$h1-title-color:rgb(0,0,0);

// font families
$h1-font-family:'Helvetica', 'Arial', sans-serif;
$text-font-family:'Open Sans', 'Helvetica', sans-serif;

// font sizes
$title-font-size:32px;
$text-font-size:14px;
$resumo-font-size:18px;

$page-width:960px;

html{
	background: $pri-color;
}
body{
	width:$page-width;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.content{
	background: $sec-color;
	padding:20px;
	@include border-radius(5);

	h1{
		color:$h1-title-color;
		font-size: $title-font-size;
		font-family: $h1-font-family;
	}

	p{
		font-size:$resumo-font-size;
		font-family: $text-font-family;
	}
}