@import "normalize";
@import "config";
@import "compass";

@include font-face('Opens Sans', font-files("OpenSans-Regular.ttf"),'glyphicons-halflings-regular.eot', normal);

$pri-color:#F2F2F2;
$sec-color:white;

$h1-title-color:rgb(0,0,0);
$h1-font-family:'Open Sans', 'Helvetica', sans-serif;

$title-font-size:32px;
$text-font-size:12px;
$resumo-font-size:18px;

$page-width:960px;

html{
	background: $pri-color;
}

body{
	width:$page-width;
	margin: 0 auto;
}
.content{
	background: $sec-color;
	padding:20px;
	@include border-radius(5);

	h1{
		color:$h1-title-color;
		font-size: $title-font-size;
		font-family: $h1-font-family;
	}

	p{
		font-size:$resumo-font-size;
	}
}