// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";


//Utilities
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

header,
apresentacao,
.nossas-areas-de-atuacao,
.conheca-nossa-equipe
{
	@include container-fixed();
}


.escolha-nossos-advogados,
.entre-em-contato{
	@include container-fixed(100);
}

/* rows */
footer{
	@include make-row();
}

/* grids */
.sabemos-nosso-trabalho,
.advogados,
.somos-vencedores,
.direito-trabalhista,
.direito-penal,
.direito-civil{
	@include make-md-column(4);
}

.nossos-advogados-apresentacao,
.advogados-associados,
.nossa-equipe-aprensentacao,
.endereco{
	@include make-md-column(6)
}

/* custom grids */
/* Este mixing vai para um arquivo separado */
@mixin make-full-md-column($columns){
  position: relative;
  min-height: 1px;

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / 12));
  }
}

.endereco{
	padding:5em 0;
}

.google-maps{
	width:100%;
	height: 310px;
}

.advogados{
	background: url("../images/39764894_ml.jpg") no-repeat;
	min-height:460px;
}

.sabemos-nosso-trabalho,
.somos-vencedores{
	padding:4em 0 4em 0;
	text-align:center;
}

.escolha-nossos-advogados,
.entre-em-contato{
	background: #514056;
	color:#fff;
}

/* Mobiles */
@media screen and (min-width: 320px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		padding:7em 0 4em 0;
		text-align: center;
		color: #fff;
	}
	
	.nossos-advogados-painel{
		background: url("../images/39764894_ml.jpg") no-repeat;
		min-height:460px;
		@include make-full-md-column(12);
	}

	.sessoes{
		padding:4em 0 4em 2em;
	}

	.nossos-advogados-apresentacao,
	.nossa-equipe-aprensentacao,
	.endereco{
		@extend .sessoes;
	}
	
	.sabemos-nosso-trabalho,
	.somos-vencedores,
	{
		@extend .sessoes;
		text-align:center;
	}

	.advogados{
		min-height:270px;
	}

	.nossas-areas-de-atuacao{
		text-align: center;
	}
	.mapa-do-endereco{
		@include make-full-md-column(12);
	}
}

/* Tablets */
@media screen and (min-width: 700px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		min-height:700px;
		text-align: center;
		color: #fff;
		padding:15em;
	}
	.mapa-do-endereco{
		@include make-full-md-column(6);
		line-height: 0;
		min-height: 1px;
	}
}