// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

/*Utilities*/
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/*Meu SaSS*/
@import "meus-mixins";

/* Tipography */
a,h1, h2{
	font-family: 'Oswald', Arial, sans-serif;
}
h1,
h2,
h3,
.introducao p{
	text-transform: uppercase;
}
p{
	font-family: 'Open Sans', Arial, sans-serif;
}

.introducao p{
	margin-bottom: 4em;
}

.intro-link{
	padding:.5em 2em;
	border:solid 2px #fff;
	color:#fff;
	font-size: 1.2em;
	&:hover{
		color:#ccc;
		text-decoration: none;
		border-color: #ccc;
	}
}

/* Social */
.media{
	position:relative;
	padding:1em 2em;

	&.facebook{
		background: url('../images/social-icons/facebook.png') no-repeat;
	}
	&.twitter{
		background: url('../images/social-icons/twitter.png') no-repeat;
	}
	&.instagram{
		background: url('../images/social-icons/instagram.png') no-repeat;
	}
	&.googleplus{
		background: url('../images/social-icons/googleplus.png') no-repeat;
	}
}
header,
.areas-de-atuacao,
.conheca-nossa-equipe,
.introducao,
footer
{
	@include container-fixed();
}
.footer-apresentacao{
	p{
		margin-bottom: 3em;	
	}
}
.sitemap{
	list-style: none;
	padding-left: 0;
	.sitemap__item{
		margin-bottom: 1em;
		a{
			font-family: 'Open Sans', Arial, sans-serif;
			color:#aaa;
		}
	}
}
.apresentacao,
.escolha-nossos-advogados,
.entre-em-contato{
	@include container-fixed(100);
}

/* rows */
.nossas-areas-de-atuacao,
.footer-content{
	@include make-row();
}

/* grids */
.sabemos-nosso-trabalho,
.advogados,
.somos-vencedores{
	@include make-md-column(4);
}

/*.advogados-associados,
.nossa-equipe-aprensentacao,
.endereco{
	@include make-md-column(6)
}*/

/* Custom SCSS */
.endereco{
	padding:5em 0;
}
.advogados,.nossos-advogados-painel{
	background: url("../images/39764894_ml.jpg") no-repeat;
}

.google-maps{
	width:100%;
	min-height: 400px;
}

.sabemos-nosso-trabalho,
.somos-vencedores{
	padding:4em 0 4em 0;
	text-align:center;
}

.escolha-nossos-advogados,
.entre-em-contato{
	background: #514056;
	color:#fff;
}

/* Mobiles */
@media screen and (min-width: 320px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		padding:7em 0 4em 0;
		text-align: center;
		color: #fff;
	}
	.sessoes{
		padding:4em 4px;
	}

	.sessoes-simples{
		padding-top:4em;
	}
	.areas-de-atuacao{
		@extend .sessoes-simples;
	}

	.conheca-nossa-equipe,
	.escolha-nossos-advogados-apresentacao,
	.nossos-advogados-apresentacao,
	.endereco,
	.footer-content{
		@extend .sessoes;
	}

	.sabemos-nosso-trabalho,
	.somos-vencedores
	{
		@extend .sessoes;
		text-align:center;
		@include make-full-xs-column(12);
		background: #514056;
		color: #fff;
	}

	/* Colunas normais */
	.nossas-areas-de-atuacao-apresentacao,
	.area-do-direito{
		@include make-xs-column(12);
	}

	/* Colunas customizadas */
	.advogados,
	.nossos-advogados-painel{
		@include make-full-xs-column(12);
		min-height:270px;
		display: inline-block;
	}

	.nossas-areas-de-atuacao-apresentacao{
		text-align: center;
	}

	.mapa-do-endereco{
		@include make-full-md-column(12);
	}
}

/* Tablets */
@media screen and (min-width: 568px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		min-height:300px;
		text-align: center;
		color: #fff;
		padding:10em 2em 1em 2em;

		p{
			font-size: 1.2em;
		}
	}

	.advogados,
	.nossos-advogados-painel{
		min-height:400px;
		background: url("../images/39764894_ml-sm-large.jpg") no-repeat;
	}
	
	.nossa-equipe-aprensentacao{
		@include make-xs-column(12);
	}
	.advogados-associados{
		@include make-xs-column(4);
	}

	.footer-content{
		padding: 6em 15px;
	}

	.mapa-do-endereco{
		@include make-full-md-column(6);
		line-height: 0;
		min-height: 1px;
	}
}

@media screen and (min-width: 1024px){
	h1{
		font-size: 4em;
	}
	h2{
		font-size: 2em;
	}
	h3{
		font-size: 1.5em;
	}
	p{
		font-size: 1em;
	}
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		min-height:650px;
		text-align: center;
		color: #fff;
		padding:10em 2em 1em 2em;
	}

	.sessao-media{
		padding:4em 3em;
	}

	/* Containers */
	.conheca-nossa-equipe{
		@include container-fixed();
	}

	.introducao,
	.areas-de-atuacao,
	.conheca-nossa-equipe,
	.footer-container{
		width:$container-md;
	}

	/* Rows */
	.nossa-equipe{
		@include make-row();
	}

	/* Colunas */
	.advogados{
		background: url('../images/39764894_ml-md.jpg') no-repeat center;
		@include make-md-column(4);
	}

	.sabemos-nosso-trabalho,
	.advogados,
	.somos-vencedores{
		height: 400px;
	}
	.nossos-advogados-painel{
		height: 600px;
	}
	/**/
	.nossas-areas-de-atuacao-apresentacao{
		@include make-md-column-offset(3);
		margin-bottom: 2em;
	}

	/**/
	.sabemos-nosso-trabalho,
	.somos-vencedores{
		@include make-full-md-column(4);
	}

	.area-do-direito,
	.footer-apresentacao{
		@include make-md-column(4);
	}

	.footer-sessao{
		@include make-md-column(3);
	}
	
	.nossos-advogados-apresentacao,
	.nossos-advogados-painel,
	.nossa-equipe-aprensentacao,
	.endereco,
	.mapa-do-endereco{
		@include make-full-md-column(6);
	}
	.nossas-areas-de-atuacao-apresentacao{
		@include make-md-column(6);
	}

	.advogados-associados{
		@include make-md-column(2);
	}

	.sabemos-nosso-trabalho,
	.somos-vencedores,
	.nossas-areas-de-atuacao,
	.nossos-advogados-apresentacao,
	.endereco{
		@extend .sessao-media;
	}
	.nossos-advogados-painel{
		background: url("../images/39764894_ml-lg.jpg") no-repeat;
	}
}

@media screen and (min-width: 1118px){
	.introducao,
	.areas-de-atuacao,
	.conheca-nossa-equipe,
	.footer-container{
		width:$container-lg;
	}
}