// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

//Utilities
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

//Meu SaSS
@import "meus-mixins";

header,
.areas-de-atuacao,
.conheca-nossa-equipe,
footer
{
	@include container-fixed();
}

.apresentacao,
.escolha-nossos-advogados,
.entre-em-contato{
	@include container-fixed(100);
}

/* rows */
.nossas-areas-de-atuacao,
.footer-content{
	@include make-row();
}

/* grids */
.sabemos-nosso-trabalho,
.advogados,
.somos-vencedores{
	@include make-md-column(4);
}

/*.advogados-associados,
.nossa-equipe-aprensentacao,
.endereco{
	@include make-md-column(6)
}*/

/* Custom SCSS */
.endereco{
	padding:5em 0;
}
.advogados,.nossos-advogados-painel{
	background: url("../images/39764894_ml.jpg") no-repeat;
}

.google-maps{
	width:100%;
	height: 310px;
}

.sabemos-nosso-trabalho,
.somos-vencedores{
	padding:4em 0 4em 0;
	text-align:center;
}

.escolha-nossos-advogados,
.entre-em-contato{
	background: #514056;
	color:#fff;
}

/* Mobiles */
@media screen and (min-width: 320px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		padding:7em 0 4em 0;
		text-align: center;
		color: #fff;
	}
	.sessoes{
		padding:4em 4px;
	}

	.sessoes-simples{
		padding-top:4em;
	}
	.areas-de-atuacao{
		@extend .sessoes-simples;
	}

	.conheca-nossa-equipe,
	.escolha-nossos-advogados-apresentacao,
	.nossos-advogados-apresentacao,
	.endereco,
	.footer-content{
		@extend .sessoes;
	}

	.sabemos-nosso-trabalho,
	.somos-vencedores
	{
		@extend .sessoes;
		text-align:center;
		@include make-full-xs-column(12);
		background: #514056;
		color: #fff;
	}

	/* Colunas normais */
	.nossas-areas-de-atuacao-apresentacao,
	.area-do-direito{
		@include make-xs-column(12);
	}

	/* Colunas customizadas */
	.advogados,
	.nossos-advogados-painel{
		@include make-full-xs-column(12);
		min-height:270px;
		display: inline-block;
	}

	.nossas-areas-de-atuacao-apresentacao{
		text-align: center;
	}

	.mapa-do-endereco{
		@include make-full-md-column(12);
	}
}

/* Tablets */
@media screen and (min-width: 568px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		min-height:300px;
		text-align: center;
		color: #fff;
		padding:10em 2em 1em 2em;
	}

	.advogados,
	.nossos-advogados-painel{
		min-height:400px;
		background: url("../images/39764894_ml-sm-large.jpg") no-repeat;
	}
	
	.nossa-equipe-aprensentacao{
		@include make-xs-column(12);
	}
	.advogados-associados{
		@include make-xs-column(4);
	}

	.footer-content{
		padding: 6em 15px;
	}

	.mapa-do-endereco{
		@include make-full-md-column(6);
		line-height: 0;
		min-height: 1px;
	}
}

@media screen and (min-width: 1024px){
	header{
		background: url("../images/Dollarphotoclub_71289049.jpg") no-repeat center;
		min-height:450px;
		text-align: center;
		color: #fff;
		padding:10em 2em 1em 2em;
	}
	.sessao-media{
		padding:4em;
	}

	.conheca-nossa-equipe{
		@include container-fixed();
		width:$container-lg;
	}
	
	.nossa-equipe{
		@include make-row();
	}

	.sabemos-nosso-trabalho,
	.somos-vencedores,
	.nossas-areas-de-atuacao,
	.nossos-advogados-apresentacao{
		@extend .sessao-media;
	}

	.advogados{
		@include make-md-column(4);
	}

	.areas-de-atuacao{
		width:$container-lg;
	}
	.nossas-areas-de-atuacao-apresentacao{
		@include make-md-column(6);
	}
	.nossas-areas-de-atuacao-apresentacao{
		@include make-md-column-offset(3);
	}

	.sabemos-nosso-trabalho,
	.somos-vencedores{
		@include make-full-md-column(4);
	}

	.area-do-direito,
	.footer-apresentacao,
	.footer-sessao{
		@include make-md-column(4);
	}

	.nossos-advogados-apresentacao,
	.nossos-advogados-painel,
	.nossa-equipe-aprensentacao,
	.endereco,
	.mapa-do-endereco{
		@include make-full-md-column(6);
	}

	.advogados-associados{
		@include make-md-column(2);
	}
}