// Animacoes

// .produto p{
//   position: absolute;
//   opacity: 0;
//   width:0;
//   background: #ccc;
//   color:#ccc;
//   transition-property: opacity, width, color;
//   transition: .1s, .5s, 1s linear;
// }
// .produto img:hover + p{
//   opacity: 1;
//   width:100%;
//   color:blue;
// }
.jump{
  overflow: hidden;
  -webkit-transition:1s all;
  transition: .5s all;
}
.jump:hover{
    width: 109%;
    margin-left: -13px;
    margin-top: -10px;
    opacity: .78;
}
