// Botoes

.botao{
  text-decoration: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.botao.azul{
  background: $default-color;
  color: white;
  &:hover{
    background: $default-secondary-color;
    color: #F3F3F3;
  }
}
