// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
// @import "bootstrap";
*{
  box-sizing: border-box;
}

@import "bootstrap/normalize";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/grid";


@import "cores";
@import "tipografia";
@import "imagem";
@import "navbar";

@media(min-width:320px){
  .header-hero{
    background: url(../imagens/hero.jpg) no-repeat;
    min-height:500px;
    color: $primary-text-lighten;
  }
// Elementos do tema
  // barra azul full
  .barra{
    background: $default-color;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    p{
      font-size: 1.2em;
      color: white;
      text-align: center;
    }
  }

  // Produtos
  .produto{
    margin-bottom: 40px;
  }

  // Ícones
  .icon{
    display: inline-block;
    width:24px;
    height:22px;
    padding:10px;
  }
  .icon-marker{
    background: url(../imagens/icons/marker.png) no-repeat;
  }
  .icon-mobile{
    background: url(../imagens/icons/mobile.png) no-repeat
  }
  .icon-mail{
    background: url(../imagens/icons/mail.png) no-repeat;
  }

  // Coloque todos os containers aqui
  .header-hero_box-content,
  .sessao{
    @include container-fixed();
    // o bootstrap define um width baseado nas variáveis $container-sm/md/lg
    padding-top: 40px;
    padding-bottom:40px;
  }

  // Coloque todas as rows aqui
  .box-content_promo-description,
  .servicos_container{
    @include make-row();
  }

  // Daqui em diante colocar todas as grigs
  .info_conteudo{
    @include make-xs-column(12);
  }
  .servico{
    @include make-xs-column(6);
    background: #ccc;
  }


  footer{
    border-top: solid 2px $default-color;
    background: #f3f3f3;
  }
}

@media(min-width:$screen-sm-min){
  .header-hero_box-content,
  .sessao{
    width: $container-sm;
  }
  .caracteristica, .produto{
    @include make-sm-column(4);
  }
}

@media(min-width: $screen-md-min){
  .header-hero_box-content,
  .sessao{
    width:$container-md;
  }
  .produto{
    @include make-md-column(3);
  }
}

@media(min-width:$screen-lg-min){
  .header-hero_box-content,
  .sessao{
    width: $container-lg;
  }
}
