/**
 * Original compass imports
 * 
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap"; */

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

/*Utilities*/
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/* Noudi Settings */
$alpha-bg: #d1d1d1;
$beta-bg: #ccc;

$gutter-sections:40px;
$gutter-sections-top: $gutter-sections;
$gutter-sections-bottom: $gutter-sections;

.section,
.full-section_content-box{

	padding-top:$gutter-sections-top;
	padding-bottom:$gutter-sections-bottom;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@include container-fixed();
}

.content-box{
	@media (min-width: $screen-sm-min) {
		@include make-row();
	}
}

.full-section{
	width:100%;
	background: $beta-bg;
}

/* Pega as margens dos columns-** do bootstrap */

.sobre-nos,
.slide-projetos{

	@media (min-width: $screen-xs-min) {
		@include make-xs-column(12);
	}
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(12);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(6);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(6);
	}
}

.servico{
	@media (min-width: $screen-xs-min) {
		@include make-xs-column(12);
	}
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(4);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(4);
	}
}

.projeto{
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(3);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(3);
	}
}

.contrate-nos{
	@include make-md-column(12);
}

.apresentacao{
	height	:650px;
	background: url('../imagens/50743_Papel-de-Parede-Design-de-Interior-Sala-de-TV_1680x1050.jpg') no-repeat center;
}

.sobre-footer,
.galeria-portfolio,
.fale-conosco{
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(4);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(4);
	}
}

.projeto-da-galeria{
	margin-bottom: 2em;
	
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(6);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(6);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(6);
	}
}

@media screen and (min-width: 320px) {
	.galeria-portfolio{

	}
	.projeto-da-galeria{
		@include make-xs-column(4);
	}
}