/**
 * Original compass imports
 * 
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap"; */

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

//Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";

/*Utilities*/
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/* Noudi Settings */
$alpha-bg: #d1d1d1;
$beta-bg: #ccc;

$gutter-sections:50px;
$gutter-sections-top: $gutter-sections;
$gutter-sections-bottom: $gutter-sections;

.section,
.full-section_content-box{

	@include container-fixed();

	padding-top:$gutter-sections-top;
	padding-bottom:$gutter-sections-bottom;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.content-box{
	@include make-row();

	@media(min-width: $screen-xs-min) {
		
	}

}

.full-section{
	width:100%;
	@include clearfix();
}

.full-section_content-box{
	padding-left: 0;
	padding-right: 0;
}

/**
 * Custom Sections
 */
.recomendacoes{
	background: url('../imagens/50743_Papel-de-Parede-Design-de-Interior-Sala-de-TV_1680x1050.jpg') no-repeat center;
	height: 400px;
}
body{
	font-family: 'Open Sans', Arial, sans-serif;
}
nav,
h1,h2{
	font-family: 'Raleway', Arial, sans-serif;
}
footer{
	background: #222222;
	color:#cccccc;
}
.navbar{
	opacity: .9;
}

.sobre-footer{
	font-size: 12px;
}
.arquiterura-resumo{
	display: inline-block;
	border-bottom:solid 1px #ffffff;
	padding-bottom: 1em;
	margin-bottom: 0;
}

.form{
	padding-top: 0px;
}
.form_email-field,
.form_message-field{
	display:inline-block;
	width:100%;
	padding:6px;
	margin-bottom: 10px;
	background-color: #777777;
	border:solid 1px #777777;
}
.form_buttom{
	padding:6px 18px;
	color:white;
	background-color: #404040;
	border:solid 1px #404040;
	margin-bottom: 10px;
}




/**
 * End custoom sections
 */

/* Pega as margens dos columns-** do bootstrap */
.projeto{
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(3);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(3);
	}
}

.apresentacao{
	height	:650px;
	background: url('../imagens/50743_Papel-de-Parede-Design-de-Interior-Sala-de-TV_1680x1050.jpg') no-repeat center;
}

.sobre-footer,
.galeria-portfolio,
.fale-conosco{
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(4);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(4);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(4);
	}
}

.projeto-da-galeria{
	margin-bottom: 2em;
	
	@media (min-width: $screen-sm-min) {
		@include make-sm-column(6);
	}
	@media (min-width: $screen-md-min) {
		@include make-md-column(6);
	}
	@media (min-width: $screen-lg-min) {
		@include make-lg-column(6);
	}
}

/**
 *
 */
@media screen and (min-width: 320px) {	
	.projeto-da-galeria{
		@include make-xs-column(4);
	}

	/* Grid Fixes */
	.sobre-footer,
	.galeria-portfolio,
	.fale-conosco,
	.projeto,
	.servico,
	.recomendacao{
		@include make-xs-column(12);
	}
}

@media screen and (min-width: $screen-sm-min) {
	.servico{
		@include make-sm-column(4);
	}

	.projeto{
		@include make-sm-column(3);
	}

	.sobre,
	.slide-projetos{
		@include make-sm-column(6);
	}

	.sobre-footer,
	.galeria-portfolio,
	.fale-conosco{
		@include make-sm-column(4);
	}
}

@media screen and (min-width: $screen-md-min) {
	.sobre,
	.slide-projetos{
		@include make-sm-column(6);
	}
}

@media screen and (min-width: $screen-lg-min) {
}